
.game_panel_wrap {
  width: 100%;
  //height: 1080px;
  @include box;
  overflow: hidden;

  @media screen and(max-width: 1440px) {
    height: 840px;
  }
  @media screen and(max-width: 1024px) {
    height: 670px;
  }


  .start_panel{
    width: 100%;
    height: 100%;
    @include box;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
  }


  .start_panel {
    background-image: url(../img/start_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: 1s;


    .btn_play_wrap{
      width: 250px;
      height: 80px;
      position: absolute;
      right: 80px;
      bottom: 80px;
      cursor: pointer;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      &:hover> .btn_play_left{
        //left: -13px;
        opacity: 1;
        -webkit-animation-name: play_btn_left;
        -moz-animation-name: play_btn_left;
        -o-animation-name: play_btn_left;
        animation-name: play_btn_left;
      }
      &:hover> .btn_play_right{
        animation-name: play_btn_right;
        opacity: 1;
      }
      &:hover> .btn_play_centre{
       box-shadow: none;
        border: 1px solid black;
        @include box

      }
      &:hover> .btn_play_centre p{
      background-repeat: repeat;
        -webkit-background-clip: text;
        background-image: url(../img/bg_play.jpg);
        background-position: 0px 0px;
        color: transparent;
        // background-position: 100px 100px;
      }




      .btn_play_centre, .btn_play_left, .btn_play_right{
        width: 100%;
        height: 100%;
        //background-image: url(../img/bg_play.jpg);
        background: green;
        position: absolute;
        z-index: 10;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        transition: 0.5s;
      }
      .btn_play_centre{
        background-image: url(../img/bg_button.jpg);
        -webkit-background-size: contain;
        background-size: contain;
        @include shadow_metal;
        transition: 0.5s;
        //text-align: center;

        .btn_play_text{
          width: 90px;
          margin: auto;
          margin-top: 15px;
          font-family: 'TruenoSBd';
          font-size: 35px;
          background-image: url(../img/reyMetal.jpg);
          background-repeat: repeat;
          -webkit-background-clip: text;
          background-position: 0px 0px;
          color: transparent;
          transition: 3s;
        }
      }

      .btn_play_left, .btn_play_right{
        z-index: 1;
        opacity: 0;
        width: 55%;
        height: 125%;
        top: -10px;
        animation: play forwards ease-in;
        animation-duration: 0.5s;
        @include box;
        @include shadow_reyMetal;
        background-image: url(../img/bg_play.jpg);

      }
      .btn_play_left{
        left: -12px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        z-index: 10;

      }
      .btn_play_right{
        right: -12px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      
      @keyframes play_btn_left {
        0%{left: -130px}
        60%{left: -12px}
        75%{left: -45px}
        100%{left: -12px}
      }
      @keyframes play_btn_right {
        0%{right: -130px}
        60%{right: -12px}
        75%{right: -45px}
        100%{right: -12px}
      }
    }
  }
}

.game_description_block{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;

  @keyframes game_description_block_disapear {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  .game_description_center p{
    text-decoration: underline red;
  }

  .game_description_center, .game_description{
    top: 380px;
    width: 550px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
    color: rgba(255,255,255, 0.6);
    @include  box;
    padding: 20px;
    text-align: justify;
    font-family: 'Audiowide';
    line-height: 21px;
    font-size: 14px;

    .button_disapear_game_description{
      width: 100px;
      height: 30px;
      border: 1px solid white;
      margin: auto;
      margin-top: 0px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;transition: 0.5s;

      &:hover{
        box-shadow: 1px 1px 15px 5px #FFFDFA;
      }
    }

    @media screen and (max-width: 1440px){
      top: 240px;
    }
  }


  .game_description_left, .game_description_right{
    width: 260px;
    height: 330px;
    position: absolute;
    margin-top: -15px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

  }
  .game_description_left{
    animation-name: game_description_left;
    border: 10px solid white;
    left: 620px;
    border-right: none;

    @media screen and (max-width: 1440px){
      left: 230px;
      animation-name: game_description_left_1440;
    }
    @media screen and (max-width: 1024px){
      //left: 230px;
      animation-name: game_description_left_1024;
    }
  }

  .game_description_right{
    animation-name: game_description_right;
    border: 10px solid white;
    right: 620px;
    border-left: none;

    @media screen and (max-width: 1440px){
      right: 230px;
      animation-name: game_description_right_1440;
    }
    @media screen and (max-width: 1024px){
      animation-name: game_description_right_1024;
    }
  }

  @keyframes game_description_left {
    0%{
      opacity: 0;
      left: 0px;
    }
    100%{
      opacity: 1;
      left: 650px;
    }
  }
  @keyframes game_description_right {
    0%{
      opacity: 0;
      right: 0px;
    }
    100%{
      opacity: 1;
      right: 650px;
    }
  }

  //1440
  @keyframes game_description_left_1440 {
    0%{
      opacity: 0;
      left: 0px;
    }
    100%{
      opacity: 1;
      left: 430px;
    }
  }
  @keyframes game_description_right_1440 {
    0%{
      opacity: 0;
      right: 0px;
    }
    100%{
      opacity: 1;
      right: 430px;
    }
  }
  @keyframes game_description_left_1024 {
    0%{
      opacity: 0;
      left: 0px;
    }
    100%{
      opacity: 1;
      left: 215px;
    }
  }
  @keyframes game_description_right_1024 {
    0%{
      opacity: 0;
      right: 0px;
    }
    100%{
      opacity: 1;
      right: 215px;
    }
  }
}