
.game_panel {
  z-index: 1000;
  width: 100%;
  height: 100%;
  @include box;
  position: absolute;
  background-image: url(../img/bg_2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

.left_block_wrap {
  width: 15%;
  height: 100%;
  @include box;
  float: left;


  .left_block {
    width: 100%;
    height: 100%;
    @include box;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    //margin-left: -100px;


    .war_control_block {
      width: 180px;
      height: 180px;
      background: red;
      position: absolute;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 100px;
      @include box
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50px;


      @media screen and(max-width: 1440px){
        width: 110px;
        height: 110px;
      }
      @media screen and(max-width: 1024px){
        left: 25px;
      }
    }
    .war_control_comp{
      top: 50px;
      background-image: url(../img/control_comp.jpg);
    }
    .war_control_fellow {
      bottom: 50px;
      background-image: url(../img/control_fellow.jpg);

      .war_control_damage, .war_control_waight{
        color: black;
      }
    }

    .war_control_damage, .war_control_waight{
      width: 100%;
      height: 20%;
      text-align: center;
      font-family: 'TruenoBdOl';
      color: white;
      margin-top: 10px;
      font-size: 21px;

      @media screen and(max-width: 1440px){
        margin-top: 0px;
        font-size: 15px;
      }
    }


    .btn_take_cards {
      width: 200px;
      height: 300px;
      background: rgba(255, 255, 255, 0.6);
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      left: 30px;
      z-index: 10;
      border-radius: 10px;
      cursor: pointer;

      @media screen and(max-width: 1440px){
        width: 150px;
        height: 225px;
      }
      @media screen and(max-width: 1024px){
        left: 20px;
        width: 115px;
        height: 175px;
      }


      .btn_cover {
        top: 2.5%;
        width: 95% !important;
        height: 95% !important;
        position: absolute;
        background-image: url(../img/back_of_cards.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 10px;
      }

      #btn_cover_before {
        width: 100%;
        height: 100%;
        z-index: 10;
      }

      #btn_cover_after {
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
}


.center_block_wrap {
  width: 70%;
  height: 100%;
  @include box;
  float: left;

  .center_block {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    .comp_cards_wrap, .my_cards_wrap {
      width: 100%;
      height: 50%;
    }

    .comp_cards, .my_cards {
      width: 100%;
      height: 100%;
      @include box;
      border: 1px solid gray;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .comp_cards {
      //margin-top: -50px;
    }

    .my_cards {
      align-items: flex-end;
      //margin-top: 50px;
    }

    //.card {
    //  width: 17%;
    //  height: 70%;
    //  border: 1px solid gray;
    //  margin-left: 40px;
    //  font-size: 50px;
    //
    //  @media screen and(max-width: 1440px) {
    //    margin-left: 23px;
    //  }
    //  @media screen and(max-width: 1024px) {
    //    height: 60%;
    //    margin-left: 30px;
    //  }
    //
    //}
  }
}

.right_block_wrap {
  width: 15%;
  height: 100%;
  float: right;
  @include box;
  position: relative;
  overflow: hidden;

  .right_block {
    width: 100%;
    height: 100%;
    @include box;
    border: 1px solid gray;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0px;

    .pass_btn_wrap {
      width: 180px;
      height: 180px;
      background-position: center;
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100px;
      overflow: hidden;
      position: absolute;
      display: block;
      right: 50px;
      background-image: url(../img/pass.png);
      text-align: center;
      font-size: 21px;
      font-family: 'TruenoBdOl';
      color: #ffffff;
      line-height: 180px;
      opacity: 1;
      transition: 0.5s;

      @media screen and(max-width: 1440px){
        right: 15px;
        line-height: 175px;
      }
      @media screen and(max-width: 1024px){
        width: 115px;
        height: 115px;
        line-height: 115px;
        font-size: 17px;
      }

      .win_block{
        font-family: 'TruenoSBd';
        position: absolute;
        font-size: 14px;
        text-align: center;
        left: 65px;

        @media screen and(max-width: 1440px){
          left: 65px;
        }
      }
      .compWin{
        top: -75px;
        @media screen and(max-width: 1440px){
          top: -70px;
        }
        @media screen and(max-width: 1024px){
          top: -50px;
          font-size: 12px;
          left: 38px;
        }
      }
      .fellowWin{
        top: 50px;
        @media screen and(max-width: 1440px){
          top: 50px;
        }
        @media screen and(max-width: 1024px){
          top: 23px;
          font-size: 12px;
          left: 38px;
        }
      }


      .pass_btn {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        cursor: pointer;
      }

      .pass_btn_after {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        //background: red;
      }
    }
  }
}

.btn_take_cards_again{
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 25px;
  top: 110px;
  font-family: 'myriadpro-regular';

}

