
.game_panel {
  z-index: 10; // change
  width: 100%;
  height: 100%;
  @include box;
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-image: url(../img/start_bg.jpg);
}

.left_block_wrap {
  width: 15%;
  height: 100%;
  @include box;
  float: left;


  .left_block {
    width: 100%;
    height: 100%;
    @include box;
    //border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;

    @keyframes apearLeftPannel {
      0% {
        margin-left: -200px;
      }
      100% {
        margin-left: 0px;
      }
    }

    .animationMixCards {
      width: 100%;
      height: 100%;
      background: red;
      position: absolute;
      top: -100px;
      right: -100px;
      animation: mixCards 0.5s forwards;
      background-image: url(../img/back_of_cards.jpg);
      z-index: 100000;

      @keyframes mixCards {

      }
    }

    .war_control_block {
      width: 180px;
      height: 180px;
      background: red;
      position: absolute;
      -webkit-background-size: cover;
      background-size: cover;
      border-radius: 100px;
      @include box
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50px;


      @media screen and(max-width: 1440px) {
        width: 110px;
        height: 110px;
      }
      @media screen and(max-width: 1024px) {
        left: 25px;
      }
    }

    .war_control_comp {
      top: 50px;
      background-image: url(../img/control_comp.jpg);
    }

    .war_control_fellow {
      bottom: 50px;
      background-image: url(../img/control_fellow.jpg);

      .war_control_damage, .war_control_waight {
        color: black;
      }
    }

    .war_control_damage, .war_control_waight {
      width: 100%;
      height: 20%;
      text-align: center;
      font-family: 'TruenoBdOl';
      color: white;
      margin-top: 10px;
      font-size: 21px;

      @media screen and(max-width: 1440px) {
        margin-top: 0px;
        font-size: 15px;
      }
    }


    .btn_take_cards {
      width: 200px;
      height: 300px;
      background: rgba(255, 255, 255, 0.6);
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      left: 30px;
      z-index: 10;
      border-radius: 10px;
      cursor: pointer;

      @media screen and(max-width: 1440px) {
        width: 150px;
        height: 225px;
      }
      @media screen and(max-width: 1024px) {
        left: 20px;
        width: 115px;
        height: 175px;
      }


      .btn_cover {
        top: 2.5%;
        width: 95% !important;
        height: 95% !important;
        position: absolute;
        background-image: url(../img/back_of_cards.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 10px;
      }

      #btn_cover_before {
        width: 100%;
        height: 100%;
        z-index: 10;
      }

      #btn_cover_after {
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
}


.center_block_wrap {
  width: 70%;
  height: 100%;
  @include box;
  float: left;

  .center_block {
    width: 100%;
    height: 100%;
    //border: 1px solid gray;
    display: flex;
    flex-direction: column;

    .comp_cards_wrap, .my_cards_wrap {
      width: 100%;
      height: 50%;
    }

    .comp_cards, .my_cards {
      width: 100%;
      height: 100%;
      @include box;
      //border: 1px solid gray;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .comp_cards {
      //margin-top: -50px;
      animation: apearCenterTopPannel 0.5s forwards;
      //background-image: url(../img/bg_2.jpg);
      //background-position:  -280px 0px;
      //background-size: 141%;
    }

    .my_cards {
      align-items: flex-end;
      animation: apearCenterBottomPannel 0.5s forwards;
      //background-image: url(../img/bg_2.jpg);
      //background-position:  -280px -485px;
      //background-size: 141%;


      //margin-top: 50px;
    }

    @keyframes apearCenterBottomPannel {
      0% {
        margin-top: 400px;
      }
      100% {
        margin-top: 0px;
      }
    }
    @keyframes apearCenterTopPannel {
      0% {
        margin-top: -400px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }
}

.right_block_wrap {
  width: 15%;
  height: 100%;
  float: right;
  @include box;
  position: relative;
  overflow: hidden;

  .right_block {
    width: 100%;
    height: 100%;
    @include box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0px;
    //animation: apearRightPannel 1s forwards;

    @keyframes apearRightPannel {
      0% {
        margin-right: -400px;
      }
      100% {
        margin-right: 0px;
      }
    }

    .pass_btn_wrap {
      width: 180px;
      height: 180px;
      background-position: center;
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100px;
      overflow: hidden;
      position: absolute;
      display: block;
      right: 50px;
      background-image: url(../img/pass.png);
      text-align: center;
      font-size: 21px;
      font-family: 'TruenoBdOl';
      color: #ffffff;
      line-height: 180px;
      opacity: 1;
      transition: 0.5s;

      @media screen and(max-width: 1440px) {
        right: 15px;
        line-height: 175px;
      }
      @media screen and(max-width: 1024px) {
        width: 115px;
        height: 115px;
        line-height: 115px;
        font-size: 17px;
      }

      .win_block {
        font-family: 'TruenoSBd';
        position: absolute;
        font-size: 14px;
        text-align: center;
        left: 65px;

        @media screen and(max-width: 1440px) {
          left: 65px;
        }
      }

      .compWin {
        top: -75px;
        @media screen and(max-width: 1440px) {
          top: -70px;
        }
        @media screen and(max-width: 1024px) {
          top: -50px;
          font-size: 12px;
          left: 38px;
        }
      }

      .fellowWin {
        top: 50px;
        @media screen and(max-width: 1440px) {
          top: 50px;
        }
        @media screen and(max-width: 1024px) {
          top: 23px;
          font-size: 12px;
          left: 38px;
        }
      }


      .pass_btn {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        cursor: pointer;
      }

      .pass_btn_after {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        cursor: pointer;
      }
    }
  }
}

.btn_take_cards_again {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 25px;
  font-family: 'myriadpro-regular';
  height: 100%;
  width: 100%;
  top: -25px;
  text-align: center;
  line-height: 300px;
}


//// show result
.resultWAR_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;

  .button_again {
    position: relative;
    margin: auto;
    width: 180px;
    height: 60px;
    top: 30px;
    border: 5px solid rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-family: 'myriadpro-regular';
    line-height: 60px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 0px 21px 0px #ffffff;
    }

    @media screen and (max-width: 1440px) {
      width: 150px;
      height: 40px;
      font-size: 25px;
      line-height: 45px;
    }
  }

  .resultWAR {
    width: 600px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 20%;

    @media screen and (max-width: 1440px) {
      margin-top: 23%;
    }

    .resultWAR_blocks {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .resultWAR_center {
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 50px;

      .desc-result_war {
        @include box;
        padding: 5px;
        width: 60%;
        text-align: center;
        line-height: 90px;
        font-size: 28px;
        font-family: 'myriadpro-regular';
        color: #ffffff;
      }

      .points_block {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -webkit-background-size: cover;
        background-size: cover;
        text-align: center;
        line-height: 100px;
        font-size: 25px;
        font-family: 'myriadpro-regular';

      }

      .comp_points {
        background-image: url(../img/control_comp.jpg);
        color: #ffffff;
      }

      .fellow_points {
        background-image: url(../img/control_fellow.jpg);
        color: black;
      }
    }

    .resultWAR_left, .resultWAR_right {
      z-index: 1;
      width: 55%;
      height: 130%;
      background: green;
      top: -15px;
      transition: 0.5s;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      background-image: url(../img/border1.jpg);
      background-repeat: repeat;
      -webkit-background-size: contain;
      background-size: contain;

    }

    .resultWAR_left {
      left: -15px;
      border-right: none;
      animation-name: notiseAboutResultsLeft;
      //-moz-border-radius-topleft: 70px;
      border-radius: 70px 0px 0px 70px;
    }

    .resultWAR_right {
      right: -15px;
      border-left: none;
      animation-name: notiseAboutResultsRight;
      border-radius: 0px 70px 70px 0px;
    }
  }
}

@keyframes notiseAboutResultsLeft {
  0% {
    opacity: 0;
    left: -150px;
  }
  50% {
    opacity: 1;
    left: -15px;
  }
  70% {
    left: -55px;
  }
  100% {
    opacity: 1;
    left: -15px;
  }
}

@keyframes notiseAboutResultsRight {
  0% {
    opacity: 0;
    right: -150px;
  }
  50% {
    opacity: 1;
    right: -15px;
  }
  70% {
    right: -55px;
  }
  100% {
    opacity: 1;
    right: -15px;
  }
}

.animation_mix_card {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  border-radius: 5px;
  bottom: 100px;
  left: 100px;
  z-index: 1;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  //animation-name: cardsMix;

  .animation_mix_card_back {
    position: relative;
    margin: auto;
    width: 90%;
    height: 95%;
    background: green;
    margin-top: 8px;
    border-radius: 5px;
    background-image: url(../img/back_of_cards.jpg);
    -webkit-background-size: cover;
    background-size: cover;
  }

  @keyframes cardsMix {
    0% {
      z-index: 100;
      opacity: 0;
      bottom: 100px;
      left: 100px;
    }
    99% {
      z-index: 100;
      opacity: 1;
      bottom: 0px;
      left: 0px;
    }
    100% {
      z-index: 1;
      opacity: 0;
      bottom: 0px;
      left: 0px;
    }
  }
}


.animation_mix_card_2 {
  animation-delay: 0.2s;
}

.animation_mix_card_3 {
  animation-delay: 0.4s;
}